:root {
  --dark_blue: hsl(233, 47%, 7%);
  --desaturated_blue: hsl(244, 38%, 16%);
  --soft_violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --trans_white: hsla(0, 0%, 100%, 0.75);
  --slightly_trans_white: hsla(0, 0%, 100%, 0.6);

  --font_size: 1rem;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 95%;
  background-color: var(--dark_blue);
}

.center {
  display: flex; 
  height: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  background-color: var(--desaturated_blue);
  
  border-radius: 20px;
}

.main_content {
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  
  grid-template-areas: "hd hd hd"  "info2 info3 info1";
  justify-content: space-between;

  padding: 2.5em;

  font-family: 'Inter', sans-serif;
  font-size:  var(--font_size);
  font-weight: 400;
  
}

.container h1 {
  grid-area: hd;
  color: var(--white);
  font-weight: 700;
}

.container h1 span {
  color: var(--soft_violet);
}

h1 p {
  color: var(--trans_white);
  font-weight: 400;
  font-size: var(--font_size);
  line-height: 1.5;
  word-wrap: break-word;
  padding: .5em 0;
}

.container div {
  color: var(--white);
  text-align: left;
  font-weight: 700;
}

.container .numbers {
  color: var(--white);
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
}

.container .names {
  color: var(--slightly_trans_white);
  font-weight: 400;
  text-transform: uppercase;
}

.container div:nth-child(1) {
  grid-area: info1;
}

.container div:nth-child(2) {
  grid-area: info2;
}

.container div:nth-child(3) {
  grid-area: info3;
}

img {
  grid-area: img;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  color: var(--white); 
}

.attribution a {
  color: hsl(228, 45%, 44%); 
}